:root {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: rgb(24, 24, 24);
}

html {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 70vw;
    position: relative;
    background-color: rgb(245, 245, 245);
}

/* Left side background and logo */

.left-container {
    position: relative;
    height: 100%;
    width: 40%;
}

.marble-bg {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.logo-bg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    top: 13%;
    background-color: rgba(0, 0, 0, 0.678);

}

img[src="NSlogo.png"] {
    position: relative;
    width: 70%;
    height: auto;
}

/* Right side form  */

.right-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    padding: 40px;
    padding-top: 100px;
    width: 60%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 9px 6px -4px gray;
}

.message {
    position: absolute;
    align-self: center;
    top: 35px;
    right: 90px;
    width: 50%;
    height: auto;
    margin: 35px;
    word-wrap: break-word;
    font-size: 1.4rem;
    text-align: left;
    color: rgb(53, 53, 53);
    font-weight: 600;

}

.look-forward {

    position: absolute;
    top: 130px;
    left: 0px;
    font-size: 1.4rem;
    color: rgb(53, 53, 53);
}

.form-header {
    position: absolute;
    top: 0px;
    font-size: 2rem;
    color: rgb(31, 31, 31);
}

form {
    font-size: .8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding-left: 5px;
    padding-right: 4em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 5px;
    border: 1px solid rgb(36, 36, 36);
}

:focus-visible {
    outline: rgb(107, 107, 255) 2px solid;
}

label {
    margin-bottom: -20px;
}



button[type="submit"] {
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px 50px;
    position: absolute;
    bottom: -70px;
    background-color: rgb(15, 15, 15);
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    box-shadow: 2px 4px 6px 2px #5a5a5a;
}

button[type="submit"]:hover {
    background-color: rgb(51, 51, 51);
}

.login {
    position: absolute;
    font-size: 1rem;
    bottom: -135px;
    left: 45px;
}

.login-link {
    color: rgb(107, 107, 255);
}

.login-link:hover {
    color: rgb(65, 65, 65);
}



/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    form {

        gap: 1rem;

    }
}